.header, .hero, .body{
background-color: aqua;
margin-bottom: 10px;
}
.box{
    margin: 10px 0;
    min-height: 80px;
    background-color: red;
    font-size: 30px;
    color: aliceblue;
}
.red{
    background-color: blue;
} 
.five{
    background-color: blueviolet;
}